input{
    width:auto;
}
.container-md{
    width:auto;
    
}
.col-md-6{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
}

/* .center{
    position: absolute;
    left: 0;
    right: 0;
  margin: auto;  
} */