<div class="container-md-6" >
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="onClick(f)" #f="ngForm">
                <div class="form-group" >
                    <label for="Name"><strong>Name</strong></label>
                    <input type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel"> 
                    <span class="help-block" style="color: red;"*ngIf="!name.valid && name.touched">Please enter name</span> 
                </div>
                <div class="form-group">
                    <label for="DOB"><strong>DOB</strong></label>
                    <input type="date" id="dob" class="form-control"
                   ngModel name="DOB" required> 
                </div>
                
                <div class="form-group">
                    <label for="Age"><strong>Age</strong></label> 
                   <input type="number" id="age" class="form-control"
                    ngModel name="age" required
                    pattern="^(?:1[01][0-9]|120|1[7-9]|[2-9][0-9])$" #age="ngModel"> 
                    <span class="help-block" style="color: red;" *ngIf="!age.valid && age.touched">Enter Valid Age</span>
                </div>
                
                <div class="form-group">
                    <label for="email"><strong>Email</strong></label> 
                    <input type="email" id="email" class="form-control"
                     ngModel name="email" required #email="ngModel" pattern="^[a-z]+[a-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$">
                     <span class="help-block" style="color: red;" *ngIf="!email.valid && email.touched">Please enter valid mail id</span>
        
                </div> 
               
                <div class="form-group">
                    <label for="phone"><strong>Phone number</strong></label> 
                    <input type="number" id="phnum" class="form-control"
                    ngModel name="phone" required>
                </div>
                <div class="form-group">
                    <label for="gender"><strong>Gender</strong></label><br>
                   <input  type="radio" name="gender" id="gn" value="Male" checked ngModel> Male
                   <input type="radio" name="gender" id="gn" value="Female" ngModel> Female
                </div>
                
               <div class="form-group">
                <label for="phone"><strong>Location</strong></label> 
                <br>
                <select name="location" ngModel required>
                    <option value="Chennai"> Chennai</option>
                    <option value="Bangalore"> Bangalore</option>
                    <option value="Mumbai"> Mumbai</option>
                    <option value="Hyderabad"> Hyderabad</option>
                </select>
               </div>
                
                <div class="form-group">
                    <label for="amount"><strong>Amount</strong></label>
                    <input type="number" id="USD" name="USD" class="form-control" [(ngModel)]="currency" required
                    >
                    
                    <span>INR converter : {{currency | rupee}}</span>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid" > Submit</button>
                </div>
        
            </form>
        </div>
    </div>
</div>
